.text-primary {
  color: #fe2635 !important;
}

.btn-kanvart {
  background-color: #fe2635 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  min-width: 200px;
}

.custom-font {
  font-family: "Oswald", sans-serif;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
